$white: #fff;
$black: #000;
$blue: #398EFB;
$red: #EB3F3F;
$dark: #3D4246;
$gray: #6B7984;
$light: #f8f9fa;
$light-gray: #A3ACB4;

$primary: $blue;
$secondary: $gray;

$border-color: #E1E7EC;
$shape-color: #EDF3F8;

$font-family: "Poppins", sans-serif;
$font-size: 1rem;
$line-height: 1.7;

